allure-pytest==2.9.45
allure-python-commons==2.9.45
appdirs==1.4.4
attrs==21.4.0
black==19.10b0
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
execnet==1.9.0
httprunner==3.1.6
idna==3.3
importlib-metadata==4.11.1
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.9.5
loguru==0.4.1
MarkupSafe==2.0.1
more-itertools==8.12.0
packaging==21.3
pathspec==0.9.0
pluggy==0.13.1
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==5.4.3
pytest-forked==1.4.0
pytest-html==2.1.1
pytest-metadata==1.11.0
pytest-ordering==0.6
pytest-rerunfailures==10.2
pytest-xdist==2.5.0
PyYAML==5.4.1
regex==2022.1.18
requests==2.27.1
sentry-sdk==0.14.4
six==1.16.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.2
typing-extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
zipp==3.7.0
